apiVersion: batch/v1
kind: Job
metadata:
  annotations:
    {{- include "annotations" . | nindent 4 }}
    helm.sh/hook: pre-install, pre-upgrade
    helm.sh/hook-delete-policy: before-hook-creation, hook-succeeded
    helm.sh/hook-weight: "-1"
  labels:
    {{- include "labels" . | nindent 4 }}
  name: {{ .Values.resourceNamePrefix }}-pre-install-job
  namespace: {{ .Release.Namespace }}
spec:
  backoffLimit: 0
  template:
    metadata:
      annotations:
        {{- with .Values.pod.annotations }}
          {{- toYaml . | nindent 8 }}
        {{- end }}
      labels:
        {{- with .Values.pod.labels }}
          {{- toYaml . | nindent 8 }}
        {{- end }}
    spec:
      {{- with .Values.pod.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      containers:
        - args: [
            "release-pre-install",
            "--api-key-token-file-path",
              {{ include "apiKeyTokenFilePath" . | quote }},
            "--api-url",
              {{ .Values.apiUrl | quote }},
            "--application-version",
              {{ .Chart.AppVersion | quote }},
            "--helm-release-name",
              {{ print .Release.Namespace ":" .Release.Name | quote }},
              {{- if .Values.name }}
            "--name",
              {{ .Values.name | quote }},
              {{- end }}
              {{- if .Values.proxyUrl }}
            "--proxy-url",
              {{ .Values.proxyUrl | quote }},
              {{- end }}
              {{- if .Values.accountId }}
            "--tenant-raw-id",
              {{ .Values.accountId | quote }}
              {{- end }}
          ]
          {{- include "containerEnvironmentVariables" . | nindent 10 }}
          image: {{ include "containerImage" . }}
          imagePullPolicy: Always
          name: {{ .Values.resourceNamePrefix }}-pre-install-container
          {{- with .Values.pod.resources }}
          resources:
          {{- toYaml . | nindent 12 }}
          {{- end }}
          securityContext:
            {{- include "containerSecurityContext" (dict "securityContext" .Values.pod.containers.securityContext) | nindent 12 }}
          volumeMounts:
          {{- include "containerSecretsVolumeMount" . | nindent 10 }}
      imagePullSecrets:
        {{- include "containerImagePullSecretNames" (dict "name" (print .Values.resourceNamePrefix "-pre-install-image-pull-secret") "root" .) | nindent 8 }}
      restartPolicy: Never
      securityContext:
        {{- include "podSecurityContext" . | nindent 8 }}
      serviceAccountName: {{ .Values.resourceNamePrefix }}-pre-install-service-account
      {{- with .Values.pod.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      volumes:
        {{- include "containerSecretsVolume" . | nindent 8 }}

---
{{ $apiKeyTokenSecretAnnotations :=
  list
  "helm.sh/hook: pre-install, pre-upgrade"
  "helm.sh/hook-delete-policy: before-hook-creation, hook-failed, hook-succeeded" 
  "helm.sh/hook-weight: \"-2\"" }}
{{ include "apiKeyTokenSecret" (dict "name" ( include "apiKeyTokenSecretName" .) "root" . "annotations" $apiKeyTokenSecretAnnotations) }}

---
{{ $containerImagePullSecretAnnotations :=
  list
  "helm.sh/hook: pre-install, pre-upgrade"
  "helm.sh/hook-delete-policy: before-hook-creation, hook-failed, hook-succeeded" 
  "helm.sh/hook-weight: \"-10\"" }}
{{ include "containerImagePullSecret" (dict "name" (print .Values.resourceNamePrefix "-pre-install-image-pull-secret") "root" . "annotations" $containerImagePullSecretAnnotations) }}