# CODEOWNERS
* @michaeldonlinsky @bkizer-tenable @ap-ten
cloud-security/* @ornisan @Eran-BenSharar @kkiminkitenb @michaeldonlinsky
security-center/* @qash-tenable @schhadia-tenable @ahughes-tenable @kkiminkitenb @michaeldonlinsky @bkizer-tenable
tes-deployment-assessment/* @tlikhar @kkiminkitenb @ashutosh-tenable @bhollowed-tenable @virenchhabria-tenable @michaeldonlinsky @bkizer-tenable
tes-operator/* @kkiminkitenb @michaeldonlinsky @virenchhabria-tenable @bkizer-tenable
