{{- if include "sensor.enabled" . }}
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  annotations:
    {{- include "annotations" . | nindent 4 }}
  labels:
    {{- include "labels" . | nindent 4 }}
    {{- include "sensor.labels" . | nindent 4 }}
  name: {{ include "sensor.globalResourceName" (dict "name" "cr" "root" .) }}
rules:
  - apiGroups: [""]
    resourceNames: ["kube-system"]
    resources: ["namespaces"]
    verbs: ["get"]
  {{- if .Values.sensor.runtimeDetection }}
  - apiGroups: ["apps"]
    resources: ["replicasets"]
    verbs: ["get"]
  - apiGroups: ["batch"]
    resources: ["jobs"]
    verbs: ["get"]
  - apiGroups: [""]
    resources: ["pods"]
    verbs: ["get"]
  {{- end }}
{{- end }}