{{- if include "sensor.enabled" . }}
apiVersion: apps/v1
kind: DaemonSet
metadata:
  annotations:
    {{- include "annotations" . | nindent 4 }}
  labels:
    {{- include "labels" . | nindent 4 }}
    {{- include "sensor.labels" . | nindent 4 }}
  name: {{ include "sensor.resourceNamePrefix" . }}-daemonset
  namespace: {{ .Release.Namespace }}
spec:
  selector:
    matchLabels:
      {{- include "sensor.labels" . | nindent 6 }}
  template:
    metadata:
      annotations:
        container.apparmor.security.beta.kubernetes.io/{{ include "sensor.resourceNamePrefix" . }}-container: unconfined
        {{- with (default .Values.pod.annotations .Values.sensor.pod.annotations) }}
          {{- toYaml . | nindent 8 }}
        {{- end }}
      labels:
        {{- include "labels" . | nindent 8 }}
        {{- include "sensor.labels" . | nindent 8 }}
        {{- with (default .Values.pod.labels .Values.sensor.pod.labels) }}
          {{- toYaml . | nindent 8 }}
        {{- end }}
    spec:
      {{- with (default .Values.pod.affinity .Values.sensor.pod.affinity) }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      automountServiceAccountToken: true
      containers:
        - args: [
          "--api-key-token-file-path",
              {{ include "apiKeyTokenFilePath" . | quote }},
          "--api-url",
            {{ .Values.apiUrl | quote }},
          "--data-path",
            {{ .Values.sensor.dataPath | quote }},
          "--logs",
          {{- if .Values.proxyUrl }}
          "--proxy-url",
            {{ .Values.proxyUrl | quote }},
          {{- end }}
          "--runtime-detection={{.Values.sensor.runtimeDetection}}",
          "--vulnerability-management={{ or .Values.sensor.enabled .Values.sensor.vulnerabilityManagement }}",
        ]
          {{- include "containerEnvironmentVariables" . | nindent 10 }}
          image: {{ include "sensor.containerImage" . }}
          imagePullPolicy: Always
          name: {{ include "sensor.resourceNamePrefix" . }}-container
          {{- with (default .Values.pod.resources .Values.sensor.pod.resources) }}
          resources:
            {{- toYaml . | nindent 12 }}
          {{- end }}
          securityContext:
            {{- if semverCompare ">=1.30" .Capabilities.KubeVersion.Version }}
            appArmorProfile:
              type: Unconfined
            {{- end }}
            capabilities:
              add:
                - DAC_OVERRIDE
                - DAC_READ_SEARCH
                - FOWNER
                - IPC_LOCK
                - NET_ADMIN
                - NET_RAW
                - SYS_ADMIN
                - SYS_CHROOT
                - SYS_PTRACE
                - SYS_RAWIO
                - SYS_RESOURCE
            privileged: false
            runAsUser: 0
            seLinuxOptions:
              user: system_u
              role: system_r
              level: "s0"
              type: super_t
          volumeMounts:
            - name: {{ include "sensor.resourceNamePrefix" . }}-data
              mountPath: {{ .Values.sensor.dataPath }}
            {{- include "containerSecretsVolumeMount" . | nindent 12 }}
      hostPID: true
      imagePullSecrets:
        {{- include "containerImagePullSecretNames" (dict "root" .) | nindent 8 }}
      securityContext:
        {{- include "podSecurityContext" . | nindent 8 }}
      serviceAccountName: {{ include "sensor.resourceNamePrefix" . }}-service-account
      {{- with (default .Values.pod.tolerations .Values.sensor.pod.tolerations) }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      volumes:
        - name: {{ include "sensor.resourceNamePrefix" . }}-data
          hostPath:
            path: {{ .Values.sensor.dataPath }}
            type: DirectoryOrCreate
      {{- include "containerSecretsVolume" . | nindent 8 }}
  updateStrategy:
    rollingUpdate:
      maxSurge: 0
      maxUnavailable: 100%
    type: RollingUpdate
{{- end }}