{{- if .Values.sensor.enabled }}
apiVersion: apps/v1
kind: DaemonSet
metadata:
  annotations:
    {{- include "annotations" . | nindent 4 }}
  labels:
    {{- include "labels" . | nindent 4 }}
    {{- include "sensor.labels" . | nindent 4 }}
  name: {{ include "sensor.resourceNamePrefix" . }}-daemonset
  namespace: {{ .Release.Namespace }}
spec:
  selector:
    matchLabels:
      {{- include "sensor.labels" . | nindent 6 }}
  template:
    metadata:
      annotations:
        {{- with .Values.sensor.pod.annotations }}
          {{- toYaml . | nindent 8 }}
        {{- end }}
      labels:
        {{- include "labels" . | nindent 8 }}
        {{- include "sensor.labels" . | nindent 8 }}
        {{- with .Values.sensor.pod.labels }}
          {{- toYaml . | nindent 8 }}
        {{- end }}
    spec:
      {{- with .Values.sensor.pod.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      automountServiceAccountToken: true
      containers:
        - args: [
            "--api-key-token-file-path",
              {{ include "apiKeyTokenFilePath" . | quote }},
            "--api-url",
            {{ .Values.apiUrl | quote }},
            "--data-path",
            {{ .Values.sensor.dataPath | quote }},
            "--logs",
            {{- if .Values.proxyUrl }}
            "--proxy-url",
            {{ .Values.proxyUrl | quote }},
            {{- end}}
          ]
          {{- include "containerEnvironmentVariables" . | nindent 10 }}
          image: {{ include "sensor.containerImage" . }}
          imagePullPolicy: Always
          name: {{ include "sensor.resourceNamePrefix" . }}-container
          {{- with .Values.sensor.pod.resources }}
          resources:
            {{- toYaml . | nindent 12 }}
          {{- end }}
          securityContext:
            privileged: true
            runAsUser: 0
          volumeMounts:
            - name: {{ include "sensor.resourceNamePrefix" . }}-data
              mountPath: {{ .Values.sensor.dataPath }}
            {{- include "containerSecretsVolumeMount" . | nindent 12 }}
      hostPID: true
      imagePullSecrets:
        {{- include "containerImagePullSecretNames" (dict "root" .) | nindent 8 }}
      securityContext:   
        {{- include "podSecurityContext" . | nindent 8 }}
      serviceAccountName: {{ include "sensor.resourceNamePrefix" . }}-service-account
      {{- with .Values.sensor.pod.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      volumes:
      - name: {{ include "sensor.resourceNamePrefix" . }}-data
        hostPath:
          path: {{ .Values.sensor.dataPath }}
          type: DirectoryOrCreate
      {{- include "containerSecretsVolume" . | nindent 6 }}
  updateStrategy:
    rollingUpdate:
      maxSurge: 0
      maxUnavailable: 100%
    type: RollingUpdate
{{- end }}