{{ if not .Values.tes.blades.global.useNamespaceId }}
kind: ClusterRoleBinding
apiVersion: rbac.authorization.k8s.io/v1
metadata:
  name: {{ .Release.Name }}-{{ .Release.Namespace }}-rolebinding-clusterid
subjects:
- kind: ServiceAccount
  name: {{ include "tes-operator.serviceAccountName" . }}
  namespace: {{ .Release.Namespace }}
roleRef:
  kind: ClusterRole
  name: {{ .Release.Name }}-{{ .Release.Namespace }}-read-cluster-id-role
  apiGroup: rbac.authorization.k8s.io
{{ end }}
