{{- if .Values.connector.enabled }}
apiVersion: apps/v1
kind: Deployment
metadata:
  annotations:
    {{- include "annotations" . | nindent 4 }}
  labels:
    {{- include "labels" . | nindent 4 }}
    {{- include "connector.labels" . | nindent 4 }}
  name: {{ include "connector.resourceNamePrefix" . }}-deployment
  namespace: {{ include "namespace" . }}
spec:
  replicas: 1
  selector:
    matchLabels:
      {{- include "connector.labels" . | nindent 6 }}
  strategy:
    type: Recreate
  template:
    metadata:
      annotations:
        {{- with (default .Values.pod.annotations .Values.connector.pod.annotations) }}
          {{- toYaml . | nindent 8 }}
        {{- end }}
      labels:
        {{- include "labels" . | nindent 8 }}
        {{- include "connector.labels" . | nindent 8 }}
        {{- with (default .Values.pod.labels .Values.connector.pod.labels) }}
          {{- toYaml . | nindent 8 }}
        {{- end }}
    spec:
      {{- with (default .Values.pod.affinity .Values.connector.pod.affinity) }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      automountServiceAccountToken: true
      containers:
        - args:
            - connector
            - --api-key-token-file-path
            - {{ include "apiKeyTokenFilePath" . | quote }}
            - --api-url
            - {{ .Values.apiUrl | quote }}
          {{- if .Values.connector.identity }}
            - --identity
          {{- end }}
          {{- if .Values.connector.network }}
            - --network
          {{- end }}
          {{- if .Values.proxyUrl }}
            - --proxy-url
            - {{ .Values.proxyUrl | quote }}
          {{- end }}
          {{- include "containerEnvironmentVariables" . | nindent 10 }}
          image: {{ include "containerImage" . }}
          imagePullPolicy: Always
          name: {{ include "connector.resourceNamePrefix" . }}-container
          {{- with (default .Values.pod.resources .Values.connector.pod.resources) }}
          resources:
          {{- toYaml . | nindent 12 }}
          {{- end }}
          securityContext:
            {{- include "containerSecurityContext" (dict "securityContext" (default .Values.pod.containers.securityContext .Values.connector.pod.containers.securityContext)) | nindent 12 }}
          volumeMounts:
            {{- include "containerSecretsVolumeMount" . | nindent 12 }}
      imagePullSecrets:
        {{- include "containerImagePullSecretNames" (dict "root" .) | nindent 8 }}
      securityContext:
        {{- include "podSecurityContext" (dict "root" . "workloadContext" .Values.connector.pod.securityContext) | nindent 8 }}
      serviceAccountName: {{ include "connector.resourceNamePrefix" . }}-service-account
      {{- with (default .Values.pod.tolerations .Values.connector.pod.tolerations) }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      volumes:
        {{- include "containerSecretsVolume" . | nindent 8 }}
{{- end }}