# Default values for securitycenter.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates-org.

persistentVolumeClaim:
  size: 900Gi

resources:
   limits:
     cpu: 16000m
     memory: 64Gi
   requests:
     cpu: 16000m
     memory: 64Gi

image:
  repository: tenable
  pullPolicy: Always
  installImageName: securitycenter-install
  runtimeImageName: securitycenter-runtime
  installImageTag: 6.5.1
  runtimeImageTag: 6.5.1

service:
  name: tenable-sc
  port: 443
  sensorPort: 8837
