containerImagePath: tenable/cloud-security-endpoint-connector
containerImagePullSecrets: []
pod:
  affinity: {}
  annotations: {}
  labels: {}
  resources: {}
  tolerations: []
resourceNamePrefix: endpoint-connector