{{- if .Values.admissionController.enabled }}
apiVersion: apps/v1
kind: Deployment
metadata:
  annotations:
    {{- include "annotations" . | nindent 4 }}
  labels:
    {{- include "labels" . | nindent 4 }}
    {{- include "admissionController.labels" . | nindent 4 }}
  name: {{ include "admissionController.resourceNamePrefix" . }}-deployment
  namespace: {{ .Release.Namespace }}
spec:
  replicas: {{ .Values.admissionController.replicas }}
  selector:
    matchLabels:
      {{- include "admissionController.labels" . | nindent 6 }}
  strategy:
    rollingUpdate:
      {{- with .Values.admissionController.strategy.rollingUpdate }}
        {{- toYaml . | nindent 6 }}
      {{- end }}
    type: RollingUpdate
  template:
    metadata:
      annotations:
        {{- with (default .Values.pod.annotations .Values.admissionController.pod.annotations) }}
          {{- toYaml . | nindent 8 }}
        {{- end }}
      labels:
        {{- include "labels" . | nindent 8 }}
        {{- include "admissionController.labels" . | nindent 8 }}
        {{- with (default .Values.pod.labels .Values.admissionController.pod.labels) }}
          {{- toYaml . | nindent 8 }}
        {{- end }}
    spec:
      {{- with (default .Values.pod.affinity .Values.admissionController.pod.affinity) }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      automountServiceAccountToken: true
      containers:
        - args: [
            "--api-key-token-file-path",
            {{ include "apiKeyTokenFilePath" . | quote }},
            "--api-url",
            {{ .Values.apiUrl | quote }},
            "--health-server-port",
            {{ .Values.admissionController.healthPort | quote }},
            "--log-level",
            {{ .Values.admissionController.logLevel | quote }},
            "{{ .Values.admissionController.logLevel }}",
            {{- if .Values.proxyUrl }}
            "--proxy-url",
            {{ .Values.proxyUrl | quote }},
            {{- end }}
            "--validating-admission-configuration-name",
            {{ include "admissionController.resourceNamePrefix" . }}-vwc,
            "--webhook-server-certificates-directory-path",
            "/var/run/secrets/certificates",
            "--webhook-server-port",
            {{ .Values.admissionController.webhook.port | quote }}
          ]
          {{- include "containerEnvironmentVariables" . | nindent 10 }}
          image: {{ include "admissionController.containerImage" . }}
          imagePullPolicy: Always
          livenessProbe:
            failureThreshold: 3
            httpGet:
              path: /healthz
              port: {{ .Values.admissionController.healthPort }}
            initialDelaySeconds: 10
            periodSeconds: 10
            successThreshold: 1
            timeoutSeconds: 3
          name: {{ include "admissionController.resourceNamePrefix" . }}-container
          ports:
            - containerPort: {{ .Values.admissionController.webhook.port }}
              name: webhook-server
              protocol: TCP
            - containerPort: {{ .Values.admissionController.healthPort }}
              name: healthz
              protocol: TCP
          readinessProbe:
            failureThreshold: 3
            httpGet:
              path: /readyz
              port: {{ .Values.admissionController.healthPort }}
            initialDelaySeconds: 10
            periodSeconds: 10
            successThreshold: 1
            timeoutSeconds: 3
        {{- with (default .Values.pod.resources .Values.admissionController.pod.resources) }}
          resources:
        {{- toYaml . | nindent 12 }}
        {{- end }}
          securityContext:
          {{- include "containerSecurityContext" (dict "securityContext" (default .Values.pod.containers.securityContext .Values.admissionController.pod.containers.securityContext)) | nindent 12 }}
          volumeMounts:
            {{- if not .Values.admissionController.certificates.injectExternally }}
            - mountPath: {{ .Values.admissionController.certificates.volumeMountPath }}
              name: {{ include "admissionController.resourceNamePrefix" . }}-certificate-volume
              readOnly: true
            {{- end }}
            {{- include "containerSecretsVolumeMount" . | nindent 12 }}
      imagePullSecrets:
        {{- include "containerImagePullSecretNames" (dict "root" .) | nindent 8 }}
      securityContext:
        {{- include "podSecurityContext" . | nindent 8 }}
      serviceAccountName: {{ include "admissionController.resourceNamePrefix" . }}-service-account
      terminationGracePeriodSeconds: 60
      {{- with (default .Values.pod.tolerations .Values.admissionController.pod.tolerations) }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      volumes:
        {{- if not .Values.admissionController.certificates.injectExternally }}
        - name: {{ include "admissionController.resourceNamePrefix" . }}-certificate-volume
          secret:
            defaultMode: 0444
            secretName: {{ include "admissionController.caCertificateSecretName" . }}
        {{- end }}
        {{- include "containerSecretsVolume" . | nindent 8 }}
{{- end }}