{{- if .Values.admissionController.enabled }}
apiVersion: v1
kind: ServiceAccount
metadata:
  annotations:
    {{- include "annotations" . | nindent 4 }}
  labels:
    {{- include "labels" . | nindent 4 }}
    {{- include "admissionController.labels" . | nindent 4 }}
  name: {{ include "admissionController.resourceNamePrefix" . }}-service-account
  namespace: {{ include "namespace" . }}
{{- end }}