{{- if .Values.admissionController.enabled }}
apiVersion: v1
kind: Service
metadata:
  annotations:
    {{- include "annotations" . | nindent 4 }}
  labels:
    {{- include "labels" . | nindent 4 }}
    {{- include "admissionController.labels" . | nindent 4 }}
  name: {{ include "admissionController.resourceNamePrefix" . }}-service
  namespace: {{ include "namespace" . }}
spec:
  ports:
  - name: {{ include "admissionController.resourceNamePrefix" . }}-port
    port: 443
    targetPort: webhook-server
  type: ClusterIP
  selector:
    {{- include "admissionController.labels" . | nindent 4 }}
{{- end }}