{{- if .Values.admissionController.enabled }}
{{ $tls := include "admissionController.tls" . | fromYaml }}
apiVersion: v1
kind: Secret
type: kubernetes.io/tls
metadata:
  annotations:
    {{- include "annotations" . | nindent 4 }}
  labels:
    {{- include "labels" . | nindent 4 }}
    {{- include "admissionController.labels" . | nindent 4 }}
  name: {{ include "admissionController.certificateSecretName" . }}
  namespace: {{ include "namespace" . }}
data:
  tls.crt: {{ $tls.serverCertificateBase64 }}
  tls.key: {{ $tls.serverCertificateKeyBase64 }}
---
apiVersion: admissionregistration.k8s.io/v1
kind: ValidatingWebhookConfiguration
metadata:
  annotations:
    helm.sh/hook: pre-install,pre-upgrade
    helm.sh/hook-delete-policy: before-hook-creation
    helm.sh/hook-weight: "-5"
    {{- include "annotations" . | nindent 4 }}
  labels:
    {{- include "labels" . | nindent 4 }}
    {{- include "admissionController.labels" . | nindent 4 }}
  name: {{ include "admissionController.resourceNamePrefix" . }}-vwc
webhooks:
- admissionReviewVersions:
  - v1
  - v1beta1
  clientConfig:
    caBundle: {{ $tls.serverCaCertificateBase64 }}
    service:
      name: {{ include "admissionController.resourceNamePrefix" . }}-service
      namespace: {{ include "namespace" . }}
      path: /v1/admit
      port: 443
  failurePolicy: {{ .Values.admissionController.webhook.failurePolicy }}
  matchPolicy: Exact
  name: validation.tenable.com
  namespaceSelector:
    matchExpressions:
    - key: kubernetes.io/metadata.name
      operator: NotIn
      values:
      - {{ include "namespace" . }}
  sideEffects: None
  timeoutSeconds: {{ .Values.admissionController.webhook.timeoutSeconds }}
{{- end }}