name: tes-deployment-assessment
image:
  registry: tenable
  pullPolicy: IfNotPresent
  tag: "1.1.4"

replicaCount: 2

affinity:
  podAntiAffinity:
    requiredDuringSchedulingIgnoredDuringExecution:
      - labelSelector:
          matchLabels:
            app.kubernetes.io/name: tes-deployment-assessment
        topologyKey: kubernetes.io/hostname

service:
  https:
    containerPort: 8091
  
validatingWebhook:
  # timeoutSeconds Must be between 1 and 30
  timeoutSeconds: 15
  # Possible values for failurePolicy:
  # - Ignore : means that an error calling the webhook is ignored and the API request is allowed to continue.
  # - Fail : means that an error calling the webhook causes the admission to fail and the API request to be rejected.
  failurePolicy: Ignore
  path: /api/v1/validate-webhook
  # Namespaces to exclude from assessment.
  # release namespace is excluded by default to allow the 
  # webhook pod to be deployed.
  excludeNamespaces:
    - kube-system
  # Namespaces to include in the assessment
  # includeNamespaces:
  #   - tes-test

# To be supplied via the {cluster-name}.yaml file that
# must be downloaded from the tenable enclave security.
# deployment scanners page
# tesConfig:
#   clusterName: ""
#   scannerId: ""
#   url: ""
#   token: ""

# Override app config, like enable debug logging.
# appConfig:
#   tesDeploymentAssessment:
#     logLevel: "debug"

livenessProbe:
  initialDelaySeconds: 5
  timeoutSeconds: 2
  periodSeconds: 10 # keep periodSeconds > timeoutSeconds
  httpGet:
    scheme: HTTPS
    path: /api/v1/healthz
    port: 8091

readinessProbe:
  initialDelaySeconds: 5
  timeoutSeconds: 2
  periodSeconds: 10 # keep periodSeconds > timeoutSeconds
  httpGet:
    scheme: HTTPS
    path: /api/v1/readyz
    port: 8091

# Sample to supply env vars if required.
# env:
#   - name: TLS
#     value: "true"

resources:
  requests:
    memory: "500Mi"
    cpu: "500m"
  limits:
    memory: "2Gi"
    cpu: "2000m"

securityContext:
  runAsUser: 1000
  runAsGroup: 3000

autoscaling:
  enabled: true
  minReplicas: 2
  maxReplicas: 5
  targetCPUUtilizationPercentage: 85
  targetMemoryUtilizationPercentage: 85

podAnnotations:

nodeSelector: {}

tolerations: []
